* {
  font-family: system-ui !important;
  line-height: 20px;
   /* border: 1px solid green; */ 
}

.hidden {
  display: none !important;
}


@media screen and (max-width: 768px) {
  body{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .footer *{
    z-index: 0 !important;
  }

}

