/* NAVBAR */

.navbar {
  padding: 10px 50px !important;
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(32, 139, 171, 0.8) 86%
  ) !important;

  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(1px);

  z-index: 1000;
}
/* NAVBAR - LEFT*/
.navbar .navbar-brand {
  margin-right: 4em;
}

.navbar a {
  color: rgba(255, 255, 255, 0.615) !important;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar .active a {
  color: white !important;
}

.navbar ul a {
  width: 10%;
}

/* NAVBAR - Right*/

.navbar .rigth-icons {
  display: flex;
  align-items: center;
}

.navbar .rigth-icons img {
  margin-left: 2em;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100vw;

    margin: 0;
    padding: 10px 20px !important;
  }

  .navbar .navbar-brand img {
    width: 80px;
    height: 40px !important;
  }
  .navbar .navbar-brand {
    margin-right: 0.7em;
    
  }
  .navbar .navbar-nav li,
  .navbar .navbar-nav ul {
    width: 4em ;
  }

  .navbar .navbar-nav li a{
    font-size: 10px;
    line-height: 15px;
    padding: 0 !important;
  }

  .navbar .rigth-icons *{
    margin: 0 0.3em !important;
  }

  .navbar .rigth-icons img#second{
    height: 45px;
    width: 45px;
  }

  .navbar .rigth-icons .zero{
    height: 25px;
    width: 25px;
    display: block !important;
  }
}
